[simonfelding]
name=simonfelding's extra utilities - $basearch
baseurl=https://rpm.ipi.dk/rpm/
#gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-$releasever_major
gpgcheck=0
repo_gpgcheck=0
metadata_expire=24h
countme=1
enabled=1