Summary: {{ metadata.summary }}
Name: {{ metadata.name }}
Version: {{ metadata.version }}
Release: {{ metadata.release }}
URL: {{ metadata.url }}
Group: {{ metadata.group }}
License: {{ metadata.license }}
Packager: {{ metadata.packager }}
Requires: {{ metadata.requires | join(', ') }}
BuildRoot: {{ metadata.buildroot }}
BuildArch: {{ metadata.arch }}

%description
{{ metadata.description }}

%install
mkdir -p %{buildroot}{{ metadata.destination }}
cp {{ files | join(' ') }} %{buildroot}{{ metadata.destination  }}

%files
{%- for file in files %}
{{ metadata.destination }}{{ file.split('/')[-1] }}
{%- endfor %}

